@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap");


.wrapperProfile{
    margin: 0 auto;
    width: 950px;
    color: #f2efea;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
}

.userSection {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    z-index: 3;
    margin-bottom: 20px;
}

.userSection li{
    padding: 5px;
    margin-inline: 50px;
}

.userData {
    margin-right: 200px;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.pfpImage {
    margin-right: 50px;
    margin-bottom: 25px;
}

#pfp {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

#nomeUsuario {
    
    font-weight: bolder;
    color: #f2efea;
}

#descUsuario {
    
    color: #f2efea;
}


.userStatOl {
    list-style: none;
    align-items: center;
    text-align: center;
}

.quantity {

    font-weight: bold;
    font-size: 67px;
}

.parameter {
    font-size: 17px;
}

.posterUserFavorites {
    display: flex;
}

.flex-child:not(:last-child) {
    margin-right: 20px;
}

.userFavourites {
    box-sizing: border-box;
    width: 950px;
    background: #030303;
    box-shadow: -35px -35px 100px 10px rgba(85, 115, 115, 0.1), 35px 35px 80px 10px rgba(0, 0, 0, 0.82);
    border-radius: 7px;
    align-items: center;
    margin-bottom: 40px;
    z-index: 1;
}

.userFavouritesData{
    padding: 15px;
}

#favoritos-cabecalho {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 7px;
}

.flex-child{
    cursor: pointer;
    border-radius: 7px;
}

.flex-child:hover .filme-favorito{
    border: 1px solid #f2efea;
    transition: 0.3s;
}

.filme-favorito {
    /* width | style | color */
    width: 215px;
    height: 270px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.profileReview{
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #1f1f1f;
    overflow-wrap: break-word;
}

.profileReviewOl{
    display: flex;
    justify-content: left;
    list-style: none;
    max-width: 920px;
    padding: 10px;
}

.reviewRating{
    margin-top: 5px;
    margin-left: 30px;
}

#secao-filmes-avaliados {
    width: 950px;
    margin: auto;
    align-items: center;
    margin-bottom: 85px;
}

.filme-avaliado {
    /* width | style | color */
    border-radius: 5px;
    border: 1px solid grey;
    width: 98px;
    height: 145px;
}

#avaliacoes-cabecalho {
    color: #f2efea;
    border-bottom: 1px solid #f2efea;
    font-size: 25px;
    font-weight: lighter;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

#filme-poster-avaliado {
    float: left;
}

#infos-avaliacao {
    overflow: hidden;
    max-width: 890px;
    color: white;

}

#titulo-filme-avaliado {
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;    
    overflow-wrap: break-word;
    max-width: 720px;
}

#ano-filme-avaliado {
    font-size: large;
    margin-left: 15px;
}

#estrelas-filme-avaliado {
    font-size: xx-large;
    margin-left: 30px;
}

#review-filme-avaliado {
    display: block;
    margin-left: 30px;
    font-size: large;
    overflow-wrap: break-word;
}

.svg-log-out {
    width: 25px;
    height: 25px;
    position: relative;
    left: -80px;
    top:40px
}