
.wrapper-content{
    font-family: 'Montserrat', sans-serif;
    background: #0d0d0d;
    margin: 0 auto;
    width: 950px;
}

.lista{
    padding: 0px;
    color: transparent;
    margin: 0 auto;
}


.lista h2{
    color: #f2efea;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
    font-weight: lighter;
}

.lista .title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.lista .title a{
    color:#f2efea;
    padding: 3px;
    margin: 2px;
    border: none;
    text-decoration: none;
    font-size: 13px;
}

.lista .title a:hover{
    color: #504f4f;
    transition: 0.2s;
}

.lista hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #333, #ccc, #333);
    margin-bottom: 15px;
}

.lista .movie-container h5{
    color: #f2efea;
    padding: 10px;
}

.lista .movie-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -10px;
}

a {
    text-decoration: none;
}

div.movie-card {
    position: relative;
    text-align: center;
    padding: 2px;
    width: 151px;
    border-radius: 5px;
    margin: 5px;  
    color: #0d0d0d;
    color: #f2efea;
    cursor: pointer;
    font-style: normal;
    text-decoration: none;
}

/*
div.movie-card:hover{
    color: #f2efea;
    cursor: pointer;
    box-shadow: 0px 0px 60px 2px rgba(255, 255, 255, 0.057);
    transition: 0.4s ease;
}*/

.movie-cardPoster {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    width: 100%;
}

.movie-card .movie-cardPoster .movie-cardInfo{
    text-decoration: none;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f2efea;
    padding: 10px;
    opacity: 0;
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

.movie-cardPoster:hover .movie-cardInfo{
    bottom: 0;
    opacity: 1;
    cursor: pointer;
}

.movie-cardPoster:hover {
    box-shadow: 0px 0px 60px 7px rgba(255, 255, 255, 0.125);
    transition: 0.4s ease;
}

.movie-card .movie-cardPoster img {
    display: block;
    width: 100%;
    height: auto;
}


.movieTitle h2{
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}

.movie-cardInfo p {
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    font-style: normal;
    margin: 0;
}

.movie-card .movie-cardInfop {
    display: flex;  
    align-items: center;
}

.movie-card .movie-cardInfo p svg {
    margin-right: 5px;
}

.descriptionsSlider p {
    color: #ccc;
    font-size: 14px;
    margin: 0;
    text-align: justify;
  }
/*
#movieTitle {
    font-size: 13px;
    text-decoration: none;
    display: none;
}

div.movie-card:hover #movieTitle{
    display: block;
    transition: 0.2s;
}

div.movie-card a{
    color: #aab1c0;
    border-radius: 5px;
    text-decoration: none;
}
div.movie-card a:hover{
    border: #dfe5f3;
    color: #dfe5f3;;
}

div.movie-card #star {
    display: none;
}

div.movie-card:hover #star {
    display: block;
    transition: 0.2s;
}*/

