@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    justify-self: center;
    align-items: center;
    background: #0d0d0d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background: #0d0d0d;
}

.welcomeUser{
    margin: 0 auto;
    width: 950px;
    color: #f2efeabe;
    font-weight: lighter;
    margin-top: 30px;
    padding: 10px;
}

.welcomeUser a{
    color: #f2efea;
    font-family: 'Playfair Display', serif;
}

#signedOut{
    display: none;
}

/*Carousel*/
#descriptionSlide {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #f2efea;
    font-size: 12px;
}

#descriptionSlide h2{
    text-decoration: none;
    color: #f2efea;
    padding: 7px;
    border-radius: 7px;
    box-sizing: border-box;
    border-color: #f2efea;
}
#descriptionSlide h2:hover{
    color: #f2efea;
    background-color: rgba(0, 0, 0, 0.581);
    transition: 0.3s;
}

#movieLinkSlider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slideshow-container {
    margin-top: 30px;
    margin-bottom: 40px;
}

.miniCarousel {
    margin-top: 20px;
}
