@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Sora&display=swap");

h2 {
  font-family: "Sora", sans-serif;
  font-weight: lighter;
}

.movie-page {
  margin: 0 auto;
  width: 950px;
  color: #f2efea;
  font-weight: lighter;
}

.infoNewApi {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 0;
  display: flex;
}
.infoItem {
  margin-right: 10px;
  display: flex;
  flex-flow: row wrap;
}

.text {
  margin-right: 10px;
  opacity: 0.5;
  line-height: 24px;
}
.bold {
  font-weight: 600;
  opacity: 1;
}

#movieBackground {
  position: relative;
  width: 950px;
  margin: 0 auto;
  border-radius: 7px;
  z-index: 0;
}

.headMovie {
  color: #f2efea;
}

.playbtn-container {
  display: inline-block;
}

.playbtn .play-icon {
  font-size: 6px;
  /* Defina o tamanho de fonte desejado para o ícone */
}

#infoPanel {
  position: relative;
  margin-top: -10%;
  z-index: 4;
}

.backgroundMovieShadow {
  position: relative;
  background: linear-gradient(
    360deg,
    #0d0d0d 28.45%,
    rgba(13, 13, 13, 0) 59.33%
  );

  margin-top: -200px;
  width: 950px;
  height: 200px;
  z-index: 3;
}

#infoList {
  list-style: none;
  display: flex;
  margin-top: -10%;
  margin: auto 0;
  align-items: top;
}

#infoList li {
  padding: 5px;
}

#movieImg {
  width: 215.65px;
  border-radius: 7px;
  z-index: 3;
  margin: 5px;
  padding: 5px;
  top: 0;
}

#movieTitle {
  font-weight: bold;
  font-size: 30px;
  width: 457px;
}

#movieTagline {
  font-weight: 500;
  font-size: 18px;
  font-family: "Sora", sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}

#description {
  width: 390px;
  text-align: justify;
}

#duration {
  margin-top: 2%;
  margin-bottom: 2%;
}

#duration p {
  display: inline;
}

#movieRuntime {
  font-weight: bold;
}

.movieActionsBox {
  box-sizing: border-box;
  width: 230px;
  background: #0d0d0d;
  border: 3px solid #615b5b;
  box-shadow: 27px 26px 100px 10px #000000,
    -27px -26px 100px 10px rgba(242, 239, 234, 0.04);
  border-radius: 7px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.movieActionsBox hr:not(.movieActions hr) {
  width: 100%;
  border: 1px solid #615b5b;
}

.movieActions {
  display: flex;
  list-style: none;
  margin: auto 0;
  align-items: center;
  border-bottom: 2px solid #615b5b;
}

.movieActions div {
  display: flex;
  width: 76px;
  padding: 10px;
  align-items: center;
}

.button {
  width: 50px;
  margin: 0 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.heart {
  font-size: 35px;
  color: #f2efea;
  background-size: cover;
  text-align: center;
}

.heart:hover {
  font-size: 40px;
  transition: 0.2s;
}

.eyes {
  font-size: 35px;
  color: #f2efea;
  background-size: cover;
  text-align: center;
}

.eyes:hover {
  font-size: 40px;
  transition: 0.2s;
}

.clock {
  font-size: 35px;
  color: #f2efea;
  background-size: cover;
  text-align: center;
}

.clock:hover {
  font-size: 40px;
  transition: 0.2s;
}

.reviewButton {
  width: 230px;
  border-bottom: #615b5b solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.modalList li {
  padding: 10px;
}

#movieModalPoster {
  width: 150px;
}

.modal-overlay {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000bc;
}

.modal-content {
  width: 90%;
  max-width: 790px;
  background-color: #2e2c2c;
  padding: 10px;
  border-radius: 7px;
  color: #f2efea;
}

.modal-content textarea {
  width: 550px;
  height: 250px;
  margin-top: 7px;
  text-align: left;
  resize: none;
  background-color: #474444;
  border-radius: 7px;
  border: none;
  padding: 10px 12px;
  font-family: "Sora", sans-serif;
  font-weight: lighter;
  color: #bdbaba;
  font-size: 17px;
}

.playbtn {
  display: flex;
  align-items: center;
  color: #557373;
  font-weight: bold;
  cursor: pointer;
}

.modal-content button {
  width: 78px;
  height: 40px;
  padding: 5px;
  font-size: 17px;
  float: right;
  cursor: pointer;
  margin-left: 10px;
  background-color: transparent;
  border-style: solid;
  border-radius: 7px;
}

#sendReview {
  border-style: solid;
  border-color: #557373;
  color: #557373;
}
#sendReview:hover {
  background-color: #557373;
  color: #f2efea;
  transition: 0.3s;
}

#closeReview {
  border-style: solid;
  border-color: #bd4f4f;
  color: #bd4f4f;
}
#closeReview:hover {
  background-color: #bd4f4f;
  color: #f2efea;
  transition: 0.3s;
}

.reviewButton button {
  width: 100%;
  font-weight: lighter;
  padding: 12px;
  background: transparent;
  color: #f2efea;
  border: none;
  cursor: pointer;
}

.reviewButton:hover {
  background-color: #2e2c2c;
  transition: 0.2s;
}

.addListButton {
  width: 230px;
}

.addListButton button {
  width: 100%;
  font-weight: lighter;
  padding: 12px;
  background: transparent;
  color: #f2efea;
  border: none;
  cursor: pointer;
  border: solid 2px transparent;
}

.addListButton:hover {
  background-color: #2e2c2c;
  transition: 0.2s;
}
